.header {
  padding-bottom: 20px;
}

.header__wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  @media (max-width: 749px) {
    flex-wrap: wrap;
    justify-content: center;
    gap: 50px;
  }
}
.header__logo {
  display: flex;
  align-items: center;
  gap: 10px;

  img {
    width: 60px;
  }
}
.header__logo-title {
  color: var(--mainColor);
  font-weight: 600;
  font-size: 25px;
}
.header__search {
  position: relative;
  border: 1px solid var(--mainColor);
  border-radius: 35px;
  overflow: hidden;

  input {
    padding: 10px 20px;

    &::placeholder {
      color: var(--mainColor);
      font-weight: 300;
    }
  }
  button {
    position: absolute;
    right: 15px;
    top: 53%;
    transform: translateY(-50%);
  }
}
