.sort {
  width: 30%;
  position: relative;
}
.sort__title {
  cursor: pointer;
  span {
    color: var(--mainColor);
    font-weight: 800;
  }
}
.sort__dropdown {
  background-color: #5f5077;

  position: absolute;
  bottom: -100px;
  width: 100%;
  margin-top: 10px;
  li {
    cursor: pointer;
    padding: 10px;
    color: #fff;
  }
  &.active {
    background-color: var(--mainColor);
  }
}
